/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1200px;

// Colors
$white: #fff;
$black: #000;
$lightteal: #E6EFF0;
$teal: #5B9A9F;
$darkteal: #3E6D71;
$blue: #608AB9;
$darkblue: #38587C;
$orange: #ED9C4B;
$darkorange: #C66E16;
$lightgray: #F4F4F4;
$charcoal: #1E1E1E;

