/* =============
    Base
============= */

// html {
//     scroll-behavior: smooth;
//   }

ul{
    margin: 0;
    padding: 0;
    li{
        list-style: none;
    }
}

a{
    text-decoration: none;
    transition: 0.25s;
    display: inline-block;
}


.show-for-sm {
    @include md{
        display: none;
    }
}

.show-for-md {
    display: none;
    @include md{
        display: inline;
    }
}

.content-spacing {
    margin-top: 50px;

    @include md {
        margin-top: 75px;
    }

    @include lg {
        margin-top: 100px;
    }

    @include xl {
        margin-top: 100px;
    }
}


// .mobilehide{
//     display: none;

//     @include md {
//         display:;
//     }
// }
