/* =============
    Hero
============= */
#hero {
    align-items: center;
    background-image: url("../img/hero/hero.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    height: 40vh;
    justify-content: center;
    text-align: center;

    @include lg {
        height: 60vh;
    }

    @include xl {
        height: 60vh;
    }

    h1 {
        padding: 0 40px;

        @include md {
            padding: none;
        }
    }
}