/* =============
    Section 1
============= */
#section-1{

    @include lg{
        display: grid;
        grid-template-areas: "photo text";
        grid-template-columns: 60% auto;
        gap: 20px;
    }

    @include xl{
        display: grid;
        grid-template-areas: ". photo text .";
        grid-template-columns: auto 720px 480px auto;
        gap: 20px;
    }

    #section-1-container-text {

        @include md{
            display: grid;
            grid-template-areas: ". text";
            grid-template-columns: auto 75%;
        }
        @include lg{
            // grid-template-areas: "text";
            // grid-template-columns: 100%;
            display: contents;
        }
    }

    #section-1-text{
        grid-area: text;
        margin: 0 10px;

        @include md{
            margin: 0 10px 0 0;
        }

        @include xl{
            padding: 32px 0;
        }

        h2{
            color: $darkblue;
            padding-bottom: 22px;

            @include lg{
                padding-top: 32px;
            }
        }

        p{
            text-align: justify;
            padding-bottom: 22px;
        }
    }

    #section-1-container-photo{
        @include md{
            display: grid;
            grid-template-areas: "photo .";
            grid-template-columns: 75% auto;
        }
        @include lg{
            display: contents;
            // grid-template-areas: "photo";
            // grid-template-columns: 100%;
        }
    }

    aside{
        grid-area: photo;
        background-image: url("../img/section-1/visit.jpg");
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: 120%;
        height: 40vh;

        @include md{
            height: 50vh;
        }

        @include lg{
            height: 100%;
        }
    }

            
}
