/* =============
    Section 6
============= */
#section-6 {
    background-image: url("../img/section-6/icecream.jpg");
    background-position: center bottom;
    background-size: cover;
    height: 260px;

    @include md {
        height: 436px;
    }

    @include lg {
        height: 519px;
    }

    @include xl {
        height: 643px;
    }
}