/* =============
    Section 4
============= */
#section-4 {
    background-color: $darkblue;

    @include xl {
        display: grid;
        grid-template-areas: ". container .";
        grid-template-columns: auto 1200px auto;
    }

    #section-4-container {
        grid-area: container;

        @include md {
            display: grid;
            gap: 20px;
            grid-template-areas: "photo text";
            grid-template-columns: 50% auto;
        }

        @include lg {
            grid-template-areas: "photo text";
            grid-template-columns: 60% auto;
        }
    }

    #section-4-text {
        grid-area: text;
        margin: 0 10px;

        h2 {
            color: $white !important;
            padding-bottom: 22px;
            padding-top: 32px;
        }

        p {
            color: $white !important;
            padding-bottom: 22px;
            text-align: justify;
        }
    }

    aside {
        background-image: url("../img/section-4/foodtruck.jpg");
        background-position: center;
        background-size: cover;
        grid-area: photo;
        height: 50vh;

        @include md {
            height: 100%;
        }
    }
}