/* =============
    Footer
============= */
footer {
    background-color: $darkblue;
    color: $white;

    @include lg {
        display: grid;
        grid-template-areas: ". content .";
        grid-template-columns: auto 720px auto;
    }

    @include xl {
        grid-template-columns: auto 940px auto;
    }

    #footer-container {
        display: grid;
        grid-area: content;
        grid-template-areas: "logo social";
        grid-template-columns: 50% auto;

        @include md {
            grid-template-areas: "social logo address"
                "phone logo address";
            grid-template-columns: auto 25% auto;
            margin: 0 10px;
        }
    }

    #footer-logo-container {
        align-items: center;
        display: flex;
        grid-area: logo;
        padding: 15px 0px 15px 10px;

        @include md {
            justify-content: center;
            padding: 15px 0px;
        }

        img {
            height: 60px;
            width: auto;

            @include md {
                height: 80px;
            }
        }
    }

    ul {
        align-items: center;
        color: white;
        display: flex;
        grid-area: social;
        justify-content: flex-end;

        li:first-child {
            padding-left: 0px;
        }

        @include md {
            align-items: flex-end;
            justify-content: flex-start;
            padding-bottom: 5px;
            padding-right: 0;
        }

        li {
            font-size: rem-calc(30);
            padding: 0px 10px;

            a:link,
            a:visited {
                color: $white;
                text-decoration: none;
                transition: 0.25s;
            }

            a:hover,
            a:active {
                color: $orange;
            }
        }
    }

    p {
        color: white;
    }

    #footer-phone {

        a:link,
        a:visited {
            color: $white;
            text-decoration: none;
            transition: 0.25s;
        }

        a:hover,
        a:active {
            color: $orange;
        }

        @include md {
            grid-area: phone;
            padding-top: 5px;
        }
    }

    #footer-address {
        @include md {
            grid-area: address;
            padding: 15px 0;
            text-align: right;
        }
    }
}