/* =============
    Header
============= */
header {
    background-color: $darkblue;
    color: $white;
    position: sticky;
    top: 0;


    >div {
        display: grid;
        grid-template-areas:
            "logo burger"
            "nav nav";
        grid-template-columns: 50% auto;

        @include md {
            grid-template-areas: "nav";
            grid-template-columns: auto;
        }

        #logo-container {
            grid-area: logo;
            padding: 15px 0px 15px 35px;
            img{
                height: 60px;
                width: auto;
            }

        }

        #burger-container {
            align-items: center;
            display: flex;
            grid-area: burger;
            justify-content: flex-end;
            padding-right: 35px;

            @include md {
                display: none !important;
            }

            i {
                cursor: pointer;
                font-size: rem-calc(30);
                color: white;
            }
        }
        #nav-container {
            background-color: $blue;
            display: none;
            grid-area: nav;
            padding: 15px;

            @include md {
                background-color: $darkblue;
                display: block !important;
            }
        }

    }
}